nav {
    background-color: rgba(19, 18, 18, 0.973);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    bottom: auto;
    position: relative;
    width: 100%;
}



.h1-navbar {
    font-size: 50px;
    width: 40%;
    text-decoration: none;
    color: rgba(248, 248, 248, 0.822);
}

.navbar-link {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 8px;
    transition: 0.3s;
    border-radius: 5px;
}

.navbar-link:active {
    text-decoration: underline;
}



.div-search-navbar{
    width: 20%;
}

.div-search-navbar input{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    
}



